{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Profile{% endblock %}

{% block body %}
  {% if (app.user) %}
  <div class="container">

    <div class="DivCTA">
      <button class="CTA"><a href="{{ path('app_play') }}">Retry</a></button>
    </div>

      <h1 class="titlePage">PERSONAL SPACE</h1>

    <div class="userSpace">

        <div class="infoUser">
          <p>Pseudo : {{app.user.UsernameUsers}}</p>
          <p>Lastname : {{app.user.LastnameUsers}}</p>
          <p>Firstname : {{app.user.FirstnameUsers}}</p>
          <p>Mail : {{app.user.Email}}</p>
          <p>Password : <button class="btnUserSpace">Change password</button></p>
        </div>

        <div class="rank">
          <p>Rank All Time : #46</p>
          <button class="btnUserSpace" ><a href="{{ path('app_play') }}">Start game</a></button>
          <button class="btnUserSpace">See my parts</button>
        </div>
      </div>
  </div>

  {% else %}
    <p style="text-align:center"> You need to be log to play</p>
    <div>
      <button><a href="{{ path('app_profile') }}">Login</a></button>
    </div>
  {% endif %}
{% endblock %}
