{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1 id="homeTitle">SCOREBOARD</h1>
    <div class="DivRankOfTheMoment">
        <div class="RankOfTheMoment">
            <h2 class="titleRank">Rank of the day</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Player</td>
                    <td>Score</td>
                    <td>Rank</td>
                    {% set i = 0 %}
                    {% for game in games %}
                        {% set i = i+1 %}
                        {% if (i<11) %}
                            <tr class="rowRank">
                                <td></td>
                                <td>{{ game.playerGames.UsernameUsers}}</td>
                                <td>{{ game.scoreGames}}</td>
                                {% if (i<4) %}
                                    <td><img class="imgMedalsMoment" src="../img/medal{{i}}.png" alt="imgMedals"></td>
                                {% else %}
                                    <td>#{{i}}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class="RankOfTheMoment">
            <h2 class="titleRank">Rank of the week</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Player</td>
                    <td>Score</td>
                    <td>Rank</td>
                    {% set i = 0 %}
                    {% for game in games %}
                        {% set i = i+1 %}
                        {% if (i<11) %}
                            <tr class="rowRank">
                                <td></td>
                                <td>{{ game.playerGames.UsernameUsers}}</td>
                                <td>{{ game.scoreGames}}</td>
                                {% if (i<4) %}
                                    <td><img class="imgMedalsMoment" src="../img/medal{{i}}.png" alt="imgMedals"></td>
                                {% else %}
                                    <td>#{{i}}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class="RankOfTheMoment">
            <h2 class="titleRank">Rank of the month</h2>
            <table>
                <tr class="rowRank">
                    <td></td>
                    <td>Player</td>
                    <td>Score</td>
                    <td>Rank</td>
                    {% set i = 0 %}
                    {% for game in games %}
                        {% set i = i+1 %}
                        {% if (i<11) %}
                            <tr class="rowRank">
                                <td></td>
                                <td>{{ game.playerGames.UsernameUsers}}</td>
                                <td>{{ game.scoreGames}}</td>
                                {% if (i<4) %}
                                    <td><img class="imgMedalsMoment" src="../img/medal{{i}}.png" alt="imgMedals"></td>
                                {% else %}
                                    <td>#{{i}}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    <div class="CTA">
        <button class="buttonPlay"><a href="{{ path('app_play') }}">Let's Try !</a></button>
    </div>
    <div class="DivRankOfAllTime">
        <div class="RankOfAllTime">
            <h2 class="titleRank">Rank of all time</h2>
            <table>
                <tr>
                    <td></td>
                    <td>Player</td>
                    <td>Score</td>
                    <td>Rank</td>
                    {% set i = 0 %}
                    {% for game in games %}
                        {% set i = i+1 %}
                        {% if (i<11) %}
                            <tr class="rowRank">
                                <td></td>
                                <td>{{ game.playerGames.UsernameUsers}}</td>
                                <td>{{ game.scoreGames}}</td>
                                {% if (i<4) %}
                                    <td><img class="imgMedalsAllTime" src="../img/medal{{i}}.png" alt="imgMedals"></td>
                                {% else %}
                                    <td>#{{i}}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
