{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username_users, {label : 'Username :  '}) }}
        {{ form_row(registrationForm.lastname_users, {label : 'Lastname :  '}) }}
        {{ form_row(registrationForm.firstname_users, {label : 'Firstname :  '}) }}
        {{ form_row(registrationForm.email, {label : 'Email  : '}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password : '
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
