{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/play.css') }}" rel="stylesheet"/>
{% endblock %}


{% block title %}Game{% endblock %}

{% block body %}
    {% if  (app.user) %}
            <h1>Welcome to the game !</h1>
        <div class="play">
            <div class="playInfo">
                <h2 id="count">Time :</h2>
                <button id="button" onclick="start()">Play</button>
            </div>

            <div id="game">

            </div>
        </div>

            <p id="printScore"></p>
        {% else %}
            <p style="text-align:center"> You need to be log to play</p>
            <div>
                <button><a href="{{ path('app_profile') }}">Login</a></button>
            </div>
    {% endif %}





<script src={{ asset('js/script.js') }}></script>


{% endblock %}


