/*Div that contains the footer*/
#containerFooter{
  width:99vw;
  background-color: #7958A5;
  border-radius: 22px 22px 0px 0px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

/* Text of the footer*/
.textFooter{
  padding-left:1%;
  padding-right:1%;
  color:white;
  font-size:150%;
}
