#containerHeader{
  display:flex;
  width:100vw;
  align-items: center;
}


#logo{
  display:flex;
  width:66%;
  align-items:center;
}
#logoImg{
  width:14%;
}
#logoText{
  margin:0;
  font-family:aAbstractGroovy;
  font-size:450%;
  color: #7958A5;
}
#links{
  display:flex;
  width:40%;
  justify-content:space-around;
  align-items:center;
  padding-right:2%;
}

.linkNav{
  padding:0%;
  padding-right:25%;
  padding-left:25%;
  border-radius: 33px;
  background-color: white;
  color:black;
  text-decoration: none;
  font-size:170%;
}
ul{
  transition-duration:0.5s;
}
ul:hover{
  transform: translateY(-10px);
}
#logoUser{
  width:4vw;
  padding-right:25%;
  padding-top:7%;
}

