#homeTitle{
  font-family:aAbstractGroovy;
  font-size: 550%;
  text-align:center;
}

.DivRankOfTheMoment{
  display: flex;
  justify-content:space-around;
}

.RankOfTheMoment{
  width:25%;
  display:flex;
  flex-direction:column;
  align-items: space-around;

  background-color: white;
  border-radius:25px;
  font-size:120%;
  padding-left:2%;
  padding-right:2%;

}
.DivRankOfAllTime{
  display:flex;
  justify-content:center;
  padding-bottom:5%;
}
.RankOfAllTime{
  display:flex;
  width:50%;
  flex-direction:column;
  align-items:space-around;

  font-size:200%;
  padding-left:2%;
  padding-right:2%;
  background-color:white;
  border-radius:25px;
}
.CTA{
  padding-top:5%;
  padding-bottom:5%;
  text-align:center;
}
.buttonPlay{

  font-family:'Lalezar';
  font-size:300%;
  padding-left:2%;
  padding-right:2%;
  background-color:#7958A5;
  border:none;
  border-radius:50px;
  transition-duration:0.5s;

}
.buttonPlay>a{
  color:white;
  text-decoration:none;
}
.buttonPlay:hover{
  transform:scale(1.1);
}
table {
    border-collapse: collapse;
}
.titleRank{
  text-align:center;
}
.rowRank{
  border-top: 2pt solid lightgrey;
}
.imgMedalsMoment{
  width:2vw;
}
.imgMedalsAllTime{
  width:3vw;
}
