@font-face{
  font-family:'Lalezar';
  src: url('../font/Lalezar-Regular.ttf') format('TrueType');
}
@font-face{
  font-family:'aAbstractGroovy';
  src: url('../font/aAbstractGroovy.ttf') format('TrueType');
}

body{
  overflow-x:hidden;
  margin:0;
  font-family:Lalezar;
  background-color:#FFE4B6;
}

li{
  list-style-type: none;
}
