h1{
  text-align:center;
  font-size:400%;
  font-family:'aAbstractGroovy';
}


#game{
  background-color:#002943;
  width:50vw;
  height:50vh;
  border-radius:20px;
  cursor:crosshair;
}
#button{
  font-family:'Lalezar';
  font-size:200%;
  background-color:#7958A5;
  border:none;
  border-radius:40px;
  padding-left:6%;
  padding-right:6%;
  cursor: pointer;
  transition-duration:0.5s;
  color:white;
}
#button:hover{
  transform:scale(1.1);
}
#count{
  font-size:200%;
}
.target{
  position:relative;
  width:1vw;
  height:2vh;
  border-radius:100%;
  background-color:red;
}
.play{
  display:flex;
}
.playInfo{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:25vw;
}
#printScore{
  text-align:center;
  font-size:200%;
}
