.DivCTA{
  padding-top:4%;
  padding-bottom:4%;
  text-align: center;

}
.CTA{
  font-family:'Lalezar';
  font-size:300%;
  background-color:#7958A5;
  border:none;
  border-radius:40px;
  padding-left:3%;
  padding-right:3%;
  cursor: pointer;
  transition-duration:0.5s;

}
.CTA>a{
  color:white;
  text-decoration:none;
}
.CTA:hover{
  transform:scale(1.1);
}
.titlePage{
  font-family: 'aAbstractGroovy';
  font-size :400%;
  text-align:center;
}
.userSpace{
  display:flex;
  justify-content:space-between;
  margin:auto;
  margin-top:5%;
  margin-bottom:5%;
  background-color: white;
  width:60vw;
  border-radius:33px;

}
.infoUser{
  display:flex;
  width:60%;
  flex-direction:column;
  padding-left:2%;
  font-size:150%;
}
.rank{
  display:flex;
  width:40%;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  border-left:3px solid lightgrey;
  font-size:170%;
}
.rank>p{
  margin:0;
}
.btnUserSpace{
  font-family:'Lalezar';
  font-size:100%;
  background-color:#7958A5;
  color:white;
  border:none;
  border-radius:33px;
  padding-left:3%;
  padding-right:3%;
  cursor: pointer;
  transition-duration:0.5s;
}
.btnUserSpace>a{
  color:white;
  text-decoration:none;
}

.btnUserSpace:hover{
  transform: translateX(10px);
}
