{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <h1>Games</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Date_games</th>
                <td>{{ game.dateGames ? game.dateGames|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_games_index') }}">back to list</a>

    <a href="{{ path('app_games_edit', {'id': game.id}) }}">edit</a>

    {{ include('games/_delete_form.html.twig') }}
{% endblock %}
