<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% block header %}
            {% include "components/header.html.twig" %}
        {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block footer %}
            {% include "components/footer.html.twig" %}
        {% endblock %}
</html>
