{% block stylesheets %}
    <link href="{{ asset('css/footer.css') }}" rel="stylesheet"/>
{% endblock %}

<div id="containerFooter">
  <p class="textFooter">Legal Mentions</p>
  <p class="textFooter">@copyright 2023</p>
  <p class="textFooter">Privacy political</p>
</div>
