{% block stylesheets %}
    <link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
{% endblock %}

<nav id="containerHeader">
  <div id="logo">
    <img id="logoImg" src="../img/clickerLogo.png" alt="logoCliker">
    <h1 id="logoText">Clicker</h1>
  </div>

  <div id="links">
    <ul>
    <li><a class="linkNav" href="{{ path('app_home') }}">Home</a></li>
  </ul>
  <ul>
    <li><a class="linkNav" href="{{ path('app_play') }}">Game</a></li>
  </ul>

  <ul>
    <li><a class="linkNav" href="{{ path('app_profile') }}">Profile</a></li>
  </ul>

  <ul>
    <li><a id="linkNavUser" href="{{ path('app_login') }}"><img id="logoUser" src="../img/user.png" alt="logoUser"></a></li>
  </ul>
  </div>


</nav>
