{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Username_users</th>
                <td>{{ user.usernameUsers }}</td>
            </tr>
            <tr>
                <th>Lastname_users</th>
                <td>{{ user.lastnameUsers }}</td>
            </tr>
            <tr>
                <th>Firstname_users</th>
                <td>{{ user.firstnameUsers }}</td>
            </tr>
            <tr>
                <th>Img_users</th>
                <td>{{ user.imgUsers }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_users_index') }}">back to list</a>

    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
